h1 {
   text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

form > p {
    display: flex;
    justify-content: space-between;
}

button {
    width: 60px;
}

span {
    text-align: end;
}

.container {
    display: flex;
    justify-content: center;
}

input {
    border-radius: 3px;
    border: solid 1px;
    border-color: gray;
    background-color: whitesmoke;
}

input:invalid {
    border-radius: 3px;
    border: solid 1px;
    border-color: #900;
    background-color: #fdd;
}